body {
  font-family: Arial;
  background: #2c3570;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.left, .right {
  background: #eee;
  color: black;
  padding: 15px;
  width: 300px;
  border-radius: 8px;
}

input {
  width: 70%;
  padding: 6px;
}

button {
  padding: 6px 10px;
  background: orange;
  border: none;
  cursor: pointer;
}

#history span {
  background: orange;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.console {
  background: #eee;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
}

#logs {
  background: #1e2a5a;
  color: rgb(215, 25, 25);
  padding: 10px;
  text-align: left;
  height: 100px;
  overflow-y: auto;
}